<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="YuanBaoSSEHook"
        android:allowBackup="true"
        android:supportsRtl="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <meta-data
            android:name="xposeddescription"
            android:value="元宝本地 OpenAI API 反代桥（127.0.0.1:8318）" />

        <meta-data
            android:name="xposedminversion"
            android:value="54" />

    </application>

</manifest>